@import './../../styles/utils/vars';

$itemHeight: 32px;
$itemVerticalPadding: 4px;
$indentAbs4px: calc($itemHeight + 2 * $itemVerticalPadding + 4px);

.dropDown {
  cursor: pointer;
  transition: all $animationDuration ease-out;
  border-color: $colorIcons;
  border-style: solid;
  color: $colorPrimary;
  border-width: 1px;
  height: calc($itemHeight + 2 * $itemVerticalPadding);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  &::before {
    position: absolute;
    content: attr(data-dropdown-description);
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $colorSecondary;
    bottom: $indentAbs4px;
    left: 0;
  }

  &__menu {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    width: calc(100% + 2 * 1px);
    left: -1px;
    top: $indentAbs4px;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #E2E6E9;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    padding: $itemVerticalPadding 0;

      &_item {
        transition: all $animationDuration ease-out;
        height: $itemHeight;
        display: flex;
        align-items: center;
        padding-left: 12px;
        font-weight: 500;
        color: $colorSecondary; /* Gray / Secondary */

        &:hover {
          font-weight: inherit;
          color: inherit;
        }
      }
  }

  &:hover {
    border-color: $colorSecondary;  /* Gray / Secondary */
  }

  &:focus {
    border-color: $colorPrimary;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 6px;
    top: 17px;
    right: 15px;
    bottom: 17px;
  }

  &:not(:focus)::after,  &:not(.clicked):focus::after {
    background-image: url('../../../public/icons/dropDown_arrow.svg');
  }

  &.clicked:focus::after {
    background-image: url('../../../public/icons/dropDown_arrow.svg');
    transform: rotate(180deg);
  }
}