@import './../../styles/utils/vars';
@import '../../styles/utils/extends';

.drop-down {
  @extend %bodyText;
  position: relative;

  height: $dropDownHeight;
  padding-left: $dropDownLeftPadding;
  border: $dropDownBorder solid $colorIcons;

  color: $colorPrimary;
  transition: all $animationDuration ease-out;
  cursor: pointer;

  &__text {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: block;
    position: absolute;
    left: -$dropDownBorder;

    box-sizing: content-box;

    width: 100%;
    padding: 4px 0;
    border: $dropDownBorder solid $colorElements;

    background: $colorWhite;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);

    &--closed {
      display: none;
    }

      &__item {
        height: $idropDownIemHeight;
        display: flex;
        align-items: center;
        padding-left: $dropDownLeftPadding;
        font-weight: $fontWeightRegular;
        color: $colorSecondary;
        transition: all $animationDuration ease-out;

        &:hover {
          font-weight: inherit;
          color: inherit;
          background-color: $colorHoverAndBG;
        }
      }
  }

  &:hover {
    border-color: $colorSecondary;
  }

  &:focus {
    border-color: $colorPrimary;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    content: "";
    width: 10px;
    height: 6px;
  }

  &:not(:focus)::after,  &:not(.clicked):focus::after {
    background-image: url('../../../public/icons/dropDown_arrow.svg');
  }

  &.clicked:focus::after {
    background-image: url('../../../public/icons/dropDown_arrow.svg');
    transform: translateY(-50%) rotate(180deg);
  }
}
