@import './../../styles/utils/vars';

.squareButton {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid var(--elementsColor);

  font-family: inherit;
  font-weight: $fontWeightSemiBold;
  font-size: 14px;
  line-height: 16px;

  &:hover {
    border-color: var(--primaryColor);
    background-color: var(--elementsHoverBG);
  }

  &.selected {
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
    color: var(--whiteColor);
  }
}
