@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.catalog-page {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: $marginBottomMiddle;
    color: $colorSecondary;
  }

  &__dropdown-block {
    display: flex;
    margin-bottom: $marginBottomSmall;
  }

  &__dropdown-item {
    width: 50%;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__dropdown-left {
    @include onTablet {
      width: 187px;
    }

    @include onDesktop {
      width: 176px;
    }
  }

  &__dropdown-right {
    @include onTablet {
      width: 136px;
    }

    @include onDesktop {
      width: 128px;
    }
  }

  &__dropdown {
    width: 50%;

    &:not(:last-child) {
      margin-right: 16px;
    }

    @include onTablet {
      width: 136px;
    }
  }

  &__product-list {
    margin-bottom: $marginBottomMiddle;
  }

  &__pagination-pannel {
    align-self: center;
  }
}

.isLoading {
  visibility: hidden;
}
