@import '../../../styles/utils/vars';

.colored-button {
  width: 32px;
  height: 32px;
  border: 3px solid var(--whiteColor);
  border-radius: 50%;
  outline: 1px solid $colorElements;
  outline-offset: -1px;

  &:hover:not(.colored-button--selected) {
    outline: 1px solid #aaa;
  }

  &--selected {
    outline: 1px solid $colorBlack;
  }
}