@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.page-nav-main {
  $prefix: ".page-nav-main";
  
  &__list {
    display: flex;
  }

  &__item {
    height: 48px;

    @include onDesktop {
      height: 64px;
    }

    &:not(:last-child) {
      margin-right: 34px;

      @include onDesktop {
        margin-right: 64px;
      }
    }
  }

  &--vertical {
    #{$prefix}__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #{$prefix}__item {
      height: 27px;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: $marginBottomTheSmallest;
  
        @include onDesktop {
          margin-bottom: $marginBottomSmall;
        }
      }
    }
  }
}
