@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';
@import '../../styles/utils/extends';

.page-nav-main {
  &__list {
    display: flex;
  }

  &__item {
    height: 64px;
    
    @include onTablet {
      height: 48px;
    }

    @include onDesktop {
      height: 64px;
    }

    &:not(:last-child) {
      margin-right: 34px;

      @include onDesktop {
        margin-right: 64px;
      }
    }
  }
}