@import './../../styles/utils/vars';

.textButton {
  width: 100%;
  height: 40px;
  background-color: $colorGrayPrimary;
  color: var(--whiteColor);
  font-family: inherit;
  font-weight: $fontWeightBold;
  font-size: 14px;
  line-height: 21px;

  &:hover {
    box-shadow: 0px 3px 13px var(--boxShadowRGBA);
  }

  &.selected {
    background-color: var(--backgroundColor);
    border: 1px solid var(--elementsColor);
    color: $colorGreen;
  }
}