@import './../../styles/utils/vars';

.colorButton {
  box-sizing: border-box;
  display: inline-flex;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid $colorElements;;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: $colorIcons;
  }

  &.selected {
    border-color: $colorPrimary;
  }

  &__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $colorwhite;
  }
}