@import './../../styles/utils/vars';

.squareButton {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid $colorElements;
}

.prev {
  background-image: url('./../../../public/icons/leftBlack16x16.svg');
  background-size: cover;

  &.disabled {
    background-image: url('./../../../public/icons/left16x16.svg');
  }
}

.next {
  background-image: url('./../../../public/icons/rightBlack16x16.svg');
  background-size: cover;

  &.disabled {
    background-image: url('./../../../public/icons/right16x16.svg');
  }
}

.number {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  &:hover {
    border-color: $colorPrimary;
  }

  &.selected {
    border-color: $colorPrimary;
    background-color: $colorPrimary;
    color: $colorWhite;
  }
}