@import './../../styles/utils/vars';

.colored-button {
  width: 32px;
  height: 32px;

  background-color: #fcdbc1;
  border: 3px solid $colorWhite;
  border-radius: 50%;
  outline: 1px solid $colorElements;
  outline-offset: -1px;
  cursor: pointer;

  &:hover:not(.colored-button--selected) {
    outline: 1px solid #aaa;
  }

  &--selected {
    outline: 1px solid #000;
  }
}