@import '../../styles/utils/extends';
@import '../../styles/utils/vars';

.primary-button {
  @extend %buttonText;
  color: var(--whiteColor);
  box-shadow: none;
  width: 100%;
  border: 1px solid transparent;
  background: var(--accentColor);

  &:hover:not(.primary-button--selected) {
    background-color: var(--elementsHoverBG);
    box-shadow: 0px 3px 13px rgba(232, 222, 206, 04);
  }

  &--selected {
    background: var(--backgroundColor);
    border: 1px solid var(--elementsColor);
    color: $colorGreen;

    &:hover {
      // box-shadow: none;
      box-shadow: 0px 3px 13px rgba(39, 174, 96, 0.4);
    }
  }
}
