@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.product-list {
  display: grid;
  justify-content: center;
  grid-template-columns: $productCardWidth;
  column-gap: 16px;
  row-gap: 40px;

  @each $breakpoint, $columnCount in $productListColumns {
    @media (min-width: $breakpoint) {
      grid-template-columns: repeat($columnCount, $productCardWidth);
    }
  }
}