@import '../../styles/utils';

.product-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1 $PhoneProductCardWidth;
  column-gap: 16px;
  row-gap: 40px;

  @include onTablet {
    grid-template-columns: repeat(2, $TabletProductCardWidth);
  }
  
  @include onDesktop {
    grid-template-columns: repeat(4, $DesktopProductCardWidth);
  }
}
