@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';
@import '../../styles/utils/extends';

.header-top {
  @extend %flexSpaceBetweenCenter;
  background: var(--backgroundColor);
  box-shadow: 0 1px 0 var(--elementsColor);

  &__main {
    display: flex;
  }

  &__links {
    display: none;

    @include onTabletAndDesktop {
      display: block;
    }
  }

  &__icons {
    display: none;

    @include onTabletAndDesktop {
      display: flex;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 80px;
    margin-right: 32px;
    margin-left: 16px;
  
    @include onDesktop {
      margin-right: 48px;
      margin-left: 24px;
    }
  }
}
