@import '../../../styles/utils/vars';

.capacity-button {
  padding: 4px 8px;

  background-color: var(--backgroundColor);
  border: 1px solid var(--iconsColor);

  &:hover:not(.capacity-button--selected) {
    outline: 1px solid var(--primaryColor);
  }

  &--selected {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    border: none;
  }
}
