@import '../../../styles/utils/vars';

.capacity-button {
  padding: 4px 8px;

  background-color: $colorWhite;
  border: 1px solid $colorIcons;

  &:hover:not(.capacity-button--selected) {
    outline: 1px solid $colorPrimary;
  }

  &--selected {
    color: $colorWhite;
    background-color: $colorPrimary;
    border: none;
  }
}
