@import '../../styles/utils/extends';
@import '../../styles/utils/vars';

.page-nav-link {
  @extend %flexCenter;
  position: relative;
  height: 100%;
  width: 100%;

  @extend %upperCase;
  font-weight: $fontWeightBlack;
  color: $colorSecondary;

  &:hover,
  &--active {
    color: var(--primaryColor);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      background: var(--primaryColor);
      border-radius: 2px;
    }
  }
}
