@import '../../../styles/utils/vars';
@import '../../../styles/utils/extends';

.about__details__subtitle {
  margin-bottom: $marginBottomTheSmallest;
  font-weight: $fontWeightBold;
  font-size: 20px;
  line-height: 26px;
  color: $colorPrimary;
}

.about__details__text {
  @extend %bodyText;
  color: $colorSecondary;
}
