@import '../../styles/utils';

.slider-photos {
  display: flex;
  flex-direction: column;

  @include onPhone {
    align-items: center;
  }

  @include onTabletAndDesktop {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  @include onTablet {
    width: 338px;
  }

  @include onDesktop {
    width: 560px;
  }
  
  &__main-photo-container {
    // margin: 0 auto;

    @include onPhone {
      padding: 6px;
      margin-bottom: 16px;
    }

    @include onTablet {
      width: 288px;
    }

// DESKTOP IS DONE
// YOU MUSTN'T DO FOR THIS
    @include onDesktop {
      padding: 11px;
      width: 442px;
    }

    &__image {
      display: block;
      object-fit: contain;

      @include onPhone { // added at 22:38
        // margin-left: 40px;
        width: 288px;
      }

      @include onTablet {
        width: 288px;
        padding: 6px;
      }
    }
  }

  &__gallry-container {
    margin: 0;
    padding: 0;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include onPhone {
      width: 288px;
    }

    @include onDesktop {
      width: 80px;
      height: 464px;
    }
    
    @include onTablet {
      width: 35px;
      height: 230px;
    }

    &__image {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include onPhone {
        width: 50px;
        height: 50px;
        padding: 4px;
      }

      @include onTablet {
        width: 35px;
        height: 35px;
        padding: 2px;
      }

      @include onDesktop {
        width: 80px;
        height: 80px;
        padding: 7px;
      }

      border: 1px solid #c4c4c4;
      transition: border-color .3s;

      cursor: pointer;

      &:hover {
        border-color: #313237;
      }
    }

    & .swiper-slide-thumb-active img {
      border-color: #313237;
    }
  }
}

.swiper {

  @include onPhone {
    width: 100%;
    height: 100%;
  }
}

// .swiper-slide {
// }
