@import '../../../styles/utils/vars';
@import '../../../styles/utils/extends';
@import '../../../styles/utils/mixins';

.about {
  &__title {
    @extend %devicePageTitleSpecs;
  }

  &__title:after {
    @extend %devicePageTitleSpecsAfter;
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
    gap: 32px;

    @include onTablet {
      margin-bottom: $marginBottomBig;
    }

    @include onDesktop {
      margin-bottom: 0;
    }

    &__subtitle {
      margin-bottom: $marginBottomTheSmallest;
      font-weight: $fontWeightBold;
      font-size: 20px;
      line-height: 26px;
      color: var(--primaryColor);
    }

    &__text {
      @extend %bodyText;
      color: $colorSecondary;
    }
  }
}
