@import '../../styles/utils';

.product-card {
  width: $PhoneProductCardWidth;
  margin: 0 auto;

  border: 1px solid $colorElements;
  padding: 32px;

  color: $colorPrimary;
  transition:
    box-shadow $animationDuration ease,
    width $animationDuration ease;

  @include onTablet {
    width: $TabletProductCardWidth;
    min-height: 532px;
  }

  @include onDesktop {
    width: $DesktopProductCardWidth;
    min-height: 526px;
  }

  &:hover {
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  }

  &__image {
    height: 130px;

    object-fit: contain;
    margin-bottom: $marginBottomSmall;
    
    @include onTablet {
      height: 202px;
    }
    
    @include onDesktop {
      height: 196px;
    }
  }

  &__model {
    @extend %buttonText;
    color: $colorPrimary;
    height: 42px;
    margin-bottom: 8px;
    
    overflow: hidden;
  }

  &__link {
    display: flex;
    flex-direction: column;

    // to fix bug with redundant outline
    outline: none;
  }

  &__price {
    display: flex;
    margin-bottom: 8px;
  }

  &__discount {
    color: $colorSecondary;
    margin-left: 8px;
    text-decoration: line-through;
  }

  &__hr {
    border: 1px solid $colorElements;
    width: 100%;
    margin-bottom: 8px;
  }

  &__info {
    padding: 8px 0;
  }

  &__info-row {
    @extend %flexSpaceBetweenCenter;
    margin-bottom: 8px;
  }

  &__info-description {
    @extend %smallText;
    color: $colorSecondary;
  }

  &__info-value {
    @extend %smallText;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: $fontWeightBold;
    color: $colorPrimary;
  }
}
