@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';
@import '../../styles/utils/extends';

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 272px;
  border: 1px solid $colorElements;
  padding: 32px;

  color: $colorPrimary;

  &__image {
    object-fit: contain;
    width: 208px;
    height: 196px;
    margin-bottom: 24px;
  }

  &__model {
    margin-bottom: 8px;
    @extend %buttonText;
  }

  &__price {
    display: flex;
    margin-bottom: 8px;
  }

  &__discount {
    color: $colorSecondary;
    margin-left: 8px;
    text-decoration: line-through;
  }

  &__hr {
    border: 1px solid $colorElements;
    width: 100%;
    margin-bottom: 8px;
  }

  &__info {
    padding: 8px 0;
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &__info-description {
    @extend %smallText;
    color: $colorSecondary;
  }

  &__info-value {
    @extend %smallText;
    font-weight: 700;
    color: $colorPrimary;
  }
}
