@import '../../styles/utils/vars';
@import '../../styles/utils/extends';

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $productCardWidth;
  border: 1px solid var(--elementsColor);
  padding: 32px;

  color: var(--primaryColor);
  transition: box-shadow $animationDuration ease;

  &:hover {
    box-shadow: 0px 2px 16px var(--cardHoverShadow);
  }

  &__image {
    object-fit: contain; 
    width: 208px;
    height: 196px;
    margin-bottom: $marginBottomSmall;
  }

  &__model {
    @extend %buttonText;
    color: var(--primaryColor);
    min-height: 42px;
    margin-bottom: 8px;
  }

  &__price {
    display: flex;
    margin-bottom: 8px;
  }

  &__discount {
    color: $colorSecondary;
    margin-left: 8px;
    text-decoration: line-through;
  }

  &__hr {
    border: 1px solid var(--elementsColor);
    width: 100%;
    margin-bottom: 8px;
  }

  &__info {
    padding: 8px 0;
  }

  &__info-row {
    @extend %flexSpaceBetweenCenter;
    margin-bottom: 8px;
  }

  &__info-description {
    @extend %smallText;
    color: $colorSecondary;
  }

  &__info-value {
    @extend %smallText;
    font-weight: $fontWeightBold;
    color: var(--primaryColor);
  }
}
