@import './../../styles/utils/vars';
@import './../../styles/utils/mixins';
@import './../../styles/utils/extends';

.cartCheckoutBox {
  border: 1px solid $colorElements;
  @extend %flexColumnCenter;
  padding: 24px ;

  &__head {
    width: 100%;
    @extend %flexColumnCenter;

    &_mainValue {
      line-height: 41px;
      color: $colorPrimary;

      &::before {
        content: '$';
      }
    }

    &_itemsTotal {
      @extend %buttonText;

      color: $colorSecondary;
    }

    padding-bottom: 16px;
    border-bottom: 1px solid $colorElements;
    margin-bottom: 16px;
  }
}
