@import './../../styles/utils/vars';
@import './../../styles/utils/extends';

.cartCheckoutBox {
  border: 1px solid $colorElements;

  display: flex;
  flex-direction: column;

  align-items: center;

  &__mainValue {
    font-weight: $fontWeightBlack;
    font-size: 32px;
    line-height: 41px;
    color: $colorPrimary;

    &::before {
      content: '$';
    }
  }

  &__itemsTotal {
    @extend %buttonText;

    color: $colorSecondary;
  }
}
