@import '../../styles/utils/vars';

.favourite-page {
  height: 100%;

  &__breadcrumbs {
    margin-bottom: $marginBottomSmall;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__count {
    margin-bottom: 32px;
  }
}