.favourite-page {
  height: 100%;

  &__breadcrumbs {
    margin-bottom: 24px;
    background-color: palegoldenrod;
  }

  &__title {
    margin-bottom: 8px;
    background-color: palegreen;
  }

  &__count {
    margin-bottom: 32px;
    background-color: palevioletred;
  }

  &__products {
    background-color: blueviolet;
  }
}