@import '../../styles/utils';

.category {
  &__image {
    aspect-ratio: 1 / 1;
    min-height: 288px;
    margin-bottom: 24px;

    transition: transform $animationDuration;

    &:hover {
      transform: scale($scaleRatio);
    }

    @include onTablet {
      min-height: 188px;
    }

    @include onDesktop {
      min-height: 368px;
    }

    &--phones {
      background-color: #6D6474;
      background-image: url('../../../public/img/shop-by-category/phones.png');
      background-position: top 30px left 110px;
      background-size: 90%;
      background-repeat: no-repeat;

      @include onTablet {
        background-size: 85%;
        background-position: top 30px left 60px;
      }

      @include onDesktop {
        background-size: 100%;
        background-position: top 30px left 60px;
      }
    }

    &--tablets {
      background-color: #8D8D92;
      background-image: url('../../../public/img/shop-by-category/tablets.png');
      background-position: top 20px left 30px;
      background-repeat: no-repeat;

      @include onTablet {
        background-size: 110%;
      }
    }

    &--accessories {
      background-color: #D53C51;
      background-image: url('../../../public/img/shop-by-category/accessories.png');
      background-position: top 80px left 90px;
      background-size: 150%;
      background-repeat: no-repeat;

      @include onTablet {
        background-size: 160%;
        background-position: top 30px left 45px;
      }
      
      @include onDesktop {
        background-size: 150%;
        background-position: bottom 0 left 90px;
      }
    }
  }

  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;

    color: var(--primaryColor);
  }

  &__description {
    @extend %bodyText;
    color: $colorSecondary;
  }
}
