@import '../../styles/utils/vars';

.back-button {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  font-weight: normal;
  font-size: 12px;
  color: $colorSecondary;

  &__image {
    display: block;
    margin-right: 5px;
  }

  &__text {
    margin-top: 1px;
  }
}
