@import './vars';
@import './mixins';

%upperCase {
  font-weight: $fontWeightBold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

%buttonText {
  font-weight: $fontWeightSemiBold;
  font-size: 14px;
  line-height: 21px;
}

%bodyText {
  font-weight: $fontWeightRegular;
  font-size: 14px;
  line-height: 21px;
}

%smallText {
  font-weight: $fontWeightSemiBold;
  font-size: 12px;
  line-height: 15px;
}

%flexTechCharacteristics {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

%flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flexSpaceBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%userMessage {
  background: $colorYellow;
  border-radius: 4px;
  width: 50%;
  height: auto;
  font-family: 'Manrope', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $colorBlack;
}

%devicePageTitleSpecs {
  margin-bottom: 48px;
  font-weight: $fontWeightBlack;
  font-size: 22px;
  line-height: 31px;
  color: var(--primaryColor);
}

%devicePageTitleSpecsAfter {
  content: "";
  display: block;
  position: relative;
  top: 16px;
  height: 1px;
  background-color: var(--elementsColor);
}

%devicePageProductId {
  display: none;
  float: right;
  font-weight: $fontWeightBold;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: var(--iconsColor);
}

%devicePageAboutMargins {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: $marginBottomBig;
  }

  @include onDesktop {
    margin-bottom: $marginBottomTheBiggest;
  }
}

%devicePageSelectors {
  display: flex;
  gap: 8px;
  margin-bottom: $marginBottomSmall;
}

%devicePageSelectorsAfter {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--elementsColor);
}
