$colorPrimary: #313237;
$colorSecondary: #89939A;
$colorIcons: #B4BDC4;
$colorElements: #E2E6E9;
$colorHoverAndBG: #FAFBFC;
$colorWhite: #FFFFFF;
$colorGreen: #27AE60;
$colorRed: #EB5757;

$scaleRatio: 1.1;
