$colorPrimary: #313237;
$colorSecondary: #89939A;
$colorIcons: #B4BDC4;
$colorElements: #E2E6E9;
$colorHoverAndBG: #FAFBFC;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGreen: #27AE60;
$colorYellow: #FEC132;
$colorRed: #EB5757;
$colorBorder: #C4C4C4;

$breakpointTablet: 640px;
$breakpointDesktop: 1200px;

$scaleRatio: 1.05;
$animationDuration: 0.3s;

$DesktopProductCardWidth: 272px;
$TabletProductCardWidth: 237px;
$PhoneProductCardWidth: 212px;

$productListColumns:
  $breakpointTablet 2,
  $breakpointDesktop 4;

$dropDownHeight: 40px;
$dropDownBorder: 1px;
$dropDownLeftPadding: 12px;
$idropDownIemHeight: 32px;

$marginBottomTheSmallest: 16px;
$marginBottomSmall: 24px;
$marginBottomMiddle: 40px;
$marginBottomBig: 64px;
$marginBottomTheBiggest: 80px;

$fontWeightRegular: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightBlack: 800;
