.header {
  $prefix: '.header';

  display: flex;
  flex-direction: column;

  &--menu-opened {
    height: 100vh;

    #{$prefix}__top {
      margin-bottom: 24px;
    }

    #{$prefix}__menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }

    #{$prefix}__icons {
      height: 64px;
    }
  }

  &__menu {
    display: none;
  }
}