@import '../../styles/utils/vars';

.header {
  $prefix: '.header';

  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;

  &--menu-opened {
    height: 100vh;

    #{$prefix}__top {
      margin-bottom: $marginBottomSmall;
      transition: margin-bottom 0.3s ease;
    }

    #{$prefix}__menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }

    #{$prefix}__icons {
      height: 64px;
    }
  }

  &__menu {
    display: none;
  }
}