@import './../../styles/utils/vars';
@import './../../styles/utils/mixins';
@import './../../styles/utils/extends';

.cartItem {
  width: 100%;
  border: 1px solid var(--elementsColor);

  justify-content: space-between;

  padding: 16px 16px 16px 0;

  @include onTabletAndDesktop {
    padding: 24px 24px 24px 0;

    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__head {
    display: flex;

    &_remove {
      @extend %flexCenter;
      flex-direction: column;

      width: 48px;


      &_button {
        color: transparent;
        @include modifyUrl(var(--themeName) ,'./../../../public/icons/close16x16.svg');
        width: 10px;
        height: 10px;
        background-size: contain;
        margin: auto 19px;
      }
    }

    &_phone {
      height: 80px;
      display: flex;
      align-items: center;
      gap: 16px;

      @include onTabletAndDesktop {
        gap: 24px;
      }

      &_image {
        width: 80px;
        display: flex;
        justify-content: center;

        &_img {
          height: 66px;
          width: auto;
          margin: 7px;

          border-radius: 3px;
        }
      }

      &_name {
        color: var(--primaryColor);

        align-self: start;
        margin-top: 8.5px;

        @include onTabletAndDesktop {
          gap: 24px;
          align-self: center;
        }

        @extend %bodyText;
      }
    }

    margin-bottom: $marginBottomTheSmallest;

    @include onTabletAndDesktop {
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__priceAmount {
    @extend %flexSpaceBetweenCenter;
    height: 32px;

    padding-left: 16px;

    @include onTabletAndDesktop {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &_amount {
      width: 96px;
      display: flex;

      .amount {
        display: flex;
        width: 32px;
        align-items: center;
        justify-content: center;
        height: 32px;

        &.quantuty {
          @extend %buttonText;
        }

        color: var(--primaryColor);
      }

      &_button {
        width: 32px;
        height: 32px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        color: transparent;
        border: 1px solid var(--primaryColor);

        &.minus {

          &.disabled {
            border-color: var(--elementsColor);
          }
        }
      }
    }

    &_price {
      color: var(--primaryColor);
      text-align: right;

      &::before {
        content: '$';
      }

      @include onTabletAndDesktop {
        width: 80px;
      }
    }
  }
}
