@import './../../styles/utils/vars';
@import './../../styles/utils/mixins';
@import './../../styles/utils/extends';

.cartItem {
  width: 100%;
  border: 1px solid $colorElements;

  justify-content: space-between;

  padding: 16px 16px 16px 0;

  @include onTabletAndDesktop {
    padding: 24px 24px 24px 0;

    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__head {
    display: flex;

    &_remove {
      @extend %flexCenter;
      flex-direction: column;

      width: 48px;


      &_button {
        color: transparent;
        background-image: url('./../../../public/icons/close16x16.svg');
        width: 10px;
        height: 10px;
        background-size: contain;
        margin: auto 19px;
      }
    }

    &_phone {
      height: 80px;
      display: flex;
      align-items: center;
      gap: 16px;

      @include onTabletAndDesktop {
        gap: 24px;
      }

      &_image {
        max-width: 100%;
        min-width: 80px;
        display: flex;
        justify-content: center;

        &_img {
          width: auto;
          height: 66px;
          margin: 7px;
        }
      }

      &_name {
        color: $colorPrimary;

        align-self: start;
        margin-top: 8.5px;

        @include onTabletAndDesktop {
          gap: 24px;
          align-self: center;
        }

        @extend %bodyText;
      }
    }

    margin-bottom: $marginBottomTheSmallest;

    @include onTabletAndDesktop {
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__priceAmount {
    @extend %flexSpaceBetweenCenter;
    height: 32px;

    padding-left: 16px;

    @include onTabletAndDesktop {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &_amount {
      width: 96px;

      &_amount {
        display: inline-flex;
        width: 32px;
        align-items: center;
        justify-content: center;

        @extend %buttonText;

        color: $colorBlack;
      }

      &_button {
        width: 32px;
        height: 32px;

        color: transparent;
        border: 1px solid $colorIcons;

        &.minus {
          background-image: url('./../../../public/icons/minus16x16.svg');
          background-position: center;
          background-repeat: no-repeat;

          &.disabled {
            background-image: url('./../../../public/icons/minus16x16_disabled.svg');
            border-color: $colorElements;
          }
        }

        &.plus {
          background-image: url('./../../../public/icons/plus16x16.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    &_price {
      color: $colorPrimary;
      text-align: right;

      &::before {
        content: '$';
      }

      @include onTabletAndDesktop {
        width: 80px;
      }
    }
  }
}
