.pagination {
  display: flex;

  &__item {
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
  }

  &__item-prev {
    margin-right: 16px;
  }

  &__item-next {
    margin-left: 8px;
  }

  &__item-control {
    margin-right: 8px;
  }
}