@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';
@import '../../styles/utils/extends';

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 257px;
  box-shadow: 0px -1px 0px $colorElements;
  padding: 32px 16px;

  &>:last-child {
    align-self: center;
  }

  @include onTabletAndDesktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 96px;
  }

  @include onTablet {
    padding: 32px 32px;
  }

  @include onDesktop {
    padding: 32px 152px;
  }

  &__logo {
    margin-bottom: 32px;

    @include onTabletAndDesktop() {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include onTabletAndDesktop {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: $marginBottomTheSmallest;

    @include onTabletAndDesktop {
      margin: 0;
    }

    &:not(:last-child) {
      @include onTablet {
        margin-right: 13px;
      }
      
      @include onDesktop {
        margin-right: 106px;
      }
    }
  }

  &__link {
    @extend %upperCase;
    color: $colorSecondary;
  }

  &__to-top {
    @extend %flexCenter;

    &__text {
      @extend %smallText;
      color: $colorSecondary;
      margin-right: 16px;
    }
  }
}
