@import './../../styles/utils/vars';

.likeButton {
  background-color: $white;
  width: 40px;
  height: 40px;
  border: 1px solid $grayIconsPlaceholders;
  background-image: url('./../../../public/icons/favAddFav16x16.svg');
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    border-color: $colorGrayPrimary;
  }
  
  &.selected {
    background-image: url('./../../../public/icons/favIsFav16x16.svg');
  }
}