@import '../../styles/utils/vars';
@import '../../styles/utils/extends';

.slider-products {
  margin: 0 auto;
  transition: $animationDuration all ease-out;

  &__container {
    @include onPhone {
      width: calc(100% + 16px);
    }

    @include onTablet {
      width: calc(100% + 24px);
    }

    @include onDesktop {
      width: 100%;
    }
  }

  &__label {
    @extend %flexSpaceBetweenCenter;

    margin-bottom: 28px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
}
