@import '../../styles/utils/vars';
@import '../../styles/utils/extends';

.slider-products {
  transition: $animationDuration all ease-out;

  &__container {
    @include onPhone {
      width: calc(100% + 16px);
    }

    @include onTablet {
      width: calc(100% + 24px);
    }

    @include onDesktop {
      width: 100%;
    }

    .slick-track {
      display: grid;
      grid-template-columns: repeat(auto-fit, $PhoneProductCardWidth); // 212px
      grid-auto-flow: column dense;
      gap: 16px;

      @include onTablet {
        grid-template-columns: repeat(auto-fit, $TabletProductCardWidth); // 237px
      }

      @include onDesktop {
        grid-template-columns: repeat(auto-fit, $DesktopProductCardWidth);
      }
    }

    .slick-track::before {
      display: none;
    }
  }

  &__label {
    @extend %flexSpaceBetweenCenter;

    margin-bottom: 28px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
}
