@import '../../styles//utils//vars';

.slider-products {
  margin: 0 auto;
  transition: $animationDuration all ease-out;

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 28px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
}
