@import './../../styles/utils/vars';
@import './../../styles/utils/mixins';
@import './../../styles/utils/extends';


.arrow-button {
  @extend %flexCenter;

  width: 32px;
  height: 32px;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid var(--elementsColor);

  @include modifyUrl(var(--themeName) ,'./../../../public/icons/leftBlack16x16.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &--is-disabled {
    background-image: url('./../../../public/icons/left16x16.svg');
  }

  &:not(.button--disabled):hover {
    border-color: var(--primaryColor);
  }

  &--is-forward {
    transform: rotate(180deg);
  }

  &--is-long {
    display: none;

    @include onTablet {
      display: block;
      width: 32px;
      height: 190px;
    }

    @include onDesktop {
      display: block;
      width: 32px;
      height: 400px;
    }
  }
}
