@import '../../styles/utils/vars';
@import '../../styles/utils/extends';

.breadcrumbs {
  display: flex;
  align-items: center;
  
  white-space: nowrap;
  overflow: hidden;

  &__child {
    @extend %smallText;
    display: flex;
    color: $colorSecondary;

    &:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__link {
    display: flex;
    color: black;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      cursor: pointer;
    }
  }

  &__truncate {
    width: min-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.testing {
  cursor: pointer;
}
