@import "./styles/reset";
@import "./styles/utils";

// vertical indentation
.main {
  height: 100%;
  flex: 1 1 auto;
  padding: 24px 0 56px;

  @include onTablet {
    padding: 24px 0 64px;
  }

  @include onDesktop {
    padding: 24px 0 80px; 
  }
}

body {
  height: 100%;
}

// horizontal indentation
.container {
  min-height: calc(100vh - 257px);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}
