@import '../../../styles/utils/vars';

.tech_characteristics {
  display: flex;
  justify-content: space-between;

  &__text {
    font-weight: $fontWeightSemiBold;
    line-height: 21px;
    color: $colorSecondary;
  
    &--black {
      color: var(--primaryColor);
    }
  }
}
