@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.home-page {
  &__title {
    margin-bottom: 56px;

    font-weight: $fontWeightBlack;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;

    @include onTabletAndDesktop {
      font-size: 48px;
      line-height: 56px;
    }

    color: $colorPrimary;
  }

  &__banner {
    margin-bottom: $marginBottomTheBiggest;
  }

  &__categories {
    margin-bottom: $marginBottomTheBiggest;
  }

  &__product-slider {
    &--new-products {
      margin-bottom: 80px;
    }
  }
}
