.banner {
  width: 1136px;
  margin: 0 auto;
  display: flex;

  &__container {
    width: 1040px;
    height: 400px;
    display: flex;
  }

  &__button {
    cursor: pointer;
    z-index: 1;

    &--left {
      margin-right: 16px;
    }

    &--right {
      margin-left: 16px;
    }
  }
}
