@import '../../styles/utils';

.banner {
  @extend %flexSpaceBetweenCenter;
  min-width: 320px;

  @include onTablet {
    gap: 19px;
  }

  @include onDesktop {
    gap: 16px;
  }

  &__container {
    display: flex;
    width: calc(100% + 32px);
    margin-left: -16px;

    @include onTablet {
      width: 100%;
      aspect-ratio: 26 / 10;
      margin-left: 0;
      margin-right: 0;
    }

    @include onDesktop {
      width: 1040px;
      aspect-ratio: 26 / 10;
      margin-left: 0;
      margin-right: 0;
    }

    .slick-list {
      width: 100%;
    }
  }

  &__button-arrow {
    display: none;
    height: 100%;

    @include onTablet {
      display: block;
      width: 32px;
    }

    @include onDesktop {
      display: block;
      width: 32px;
    }

    cursor: pointer;
  }

  &__image {
    object-fit: contain;
  }

  &__paging {
    position: absolute;
    margin-top: -10px;
    padding: 5px;
    width: 100%;
    opacity: 0;
  }

  &__pagination li {
    margin: 0 14px;
    display: inline-block;
    width: 14px;
    height: 4px;
    background-color: $colorElements;
  
    transition: transform $animationDuration background-color $animationDuration;

    &:hover {
      transform: scale(1.2);
    }

    &.slick-active {
      background-color: $colorPrimary;
    }
  }
}
