@import '../../styles/utils/vars';
@import '../../styles/utils/extends';
@import '../../styles/utils/mixins';

.device-details {
  &__breadcrumbs {
    margin-bottom: $marginBottomMiddle;
  }

  &__title {
    margin-bottom: $marginBottomMiddle;

    font-weight: $fontWeightBlack;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;

    color: $colorPrimary;
  }

  &__id {
    @extend %devicePageProductId;

    @include onDesktop {
      display: inline-block;
    }
  }

  &__product {
    @extend %devicePageAboutMargins;
  }

  &__about-product {
    @extend %devicePageAboutMargins;
  }
}
