@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.menu-toggle-button {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 0 0 var(--elementsColor);

  @include onTabletAndDesktop {
    display: none;

    &--opened {
      display: flex;
    }
  }

  @include onDesktop {
    width: 64px;
    height: 64px;
  }
}
